.login-cont {
    height: 50vh;
    display: flex;
    align-items: center;
}
.form-fields {
    text-align: center;
}
.btn-cont {
    margin-top: 10vh;
    text-align: center;
}
.btn-cont button {
    margin-left: 20px;
}
.login-header {
    margin-top: 10px !important;
}
.login-header:after {
    content: "";
    color: #0F2A3B;
    width: 100px;
    height: 10px;
}