
body{
    background-size: cover;
    background: url("/images/mobileback.jpg") fixed;
    width: 480px;
}
#view-window{
    width: 440px;
    margin: 50px 10px 10px 115px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 3px 3px black;
    font-family: 'Staatliches', cursive;
    position: fixed;
    top: 200px;
    height: 500px;
    display: block;
    overflow-y: scroll
}
#header{
    background: rgba(0, 0, 0, 0.6);
    color: ghostwhite;
    height: 45px;
    width: 500px;
    text-align: center;
    transform: rotate(-20deg);
    align-content: center;
    margin-top: -280px;
    margin-right: 200px;
    padding: 0;
    text-space: 1px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;


}
#view-buttons{
    display: flex;
    background-color: maroon;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Staatliches', cursive;
}
.profile-button{
    color: white;
    text-decoration: whitesmoke underline;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}
.profile-button:hover{
    color: black;
    text-decoration: black underline;
    font-family: 'Staatliches', cursive;
}
.link{
    color: whitesmoke;
    font-family: 'Staatliches', cursive;
    font-size: 15px;
    text-space: 1px;
    margin-top: -15px;
}
.link:hover{
    color: gray;
}